<button  (click)="switchTheme('dark')"> Dark Theme </button> &nbsp;
<button  (click)="switchTheme('light')"> Light Theme </button> &nbsp;
<hr>

<h3>Small</h3> <hr>
<button class="btn-small btn-primary"> Primary </button> &nbsp;
<button class="btn-small btn-secondary"> Secondary </button> &nbsp;
<button class="btn-small btn-success"> Success </button> &nbsp;
<button class="btn-small btn-info"> Info </button> &nbsp;
<button class="btn-small btn-warning"> Warning </button> &nbsp;
<button class="btn-small btn-danger"> Danger </button> &nbsp;
<button class="btn-small btn-inverse"> Inverse </button> &nbsp;
<button class="btn-small btn-faded"> Faded </button> &nbsp;

<h3>Default</h3> <hr>
<button class="btn-primary"> Primary </button> &nbsp;
<button class="btn-secondary"> Secondary </button> &nbsp;
<button class="btn-success"> Success </button> &nbsp;
<button class="btn-info"> Info </button> &nbsp;
<button class="btn-warning"> Warning </button> &nbsp;
<button class="btn-danger"> Danger </button> &nbsp;
<button class="btn-inverse"> Inverse </button> &nbsp;
<button class="btn-faded"> Faded </button> &nbsp;


<h3>Large</h3> <hr>
<button class="btn-large btn-primary"> Primary </button> &nbsp;
<button class="btn-large btn-secondary"> Secondary </button> &nbsp;
<button class="btn-large btn-success"> Success </button> &nbsp;
<button class="btn-large btn-info"> Info </button> &nbsp;
<button class="btn-large btn-warning"> Warning </button> &nbsp;
<button class="btn-large btn-danger"> Danger </button> &nbsp;
<button class="btn-large btn-inverse"> Inverse </button> &nbsp;
<button class="btn-large btn-faded"> Faded </button> &nbsp;

<hr>

<h1>h1</h1> 
<h2>h2</h2> 
<h3>h3</h3>

<hr>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada proin libero nunc consequat interdum. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Ornare arcu odio ut sem nulla pharetra diam sit. In iaculis nunc sed augue. Lacus vestibulum sed arcu non. Sed blandit libero volutpat sed cras ornare. Morbi tristique senectus et netus et malesuada fames ac turpis. Aliquam sem fringilla ut morbi.
</p>


